DATE (DD/MM/YYYY)
HIT RATE (%) IN 0-10% OF TRIALS
HIT RATE (%) IN 10-20% OF TRIALS
HIT RATE (%) IN 30-40% OF TRIALS
HIT RATE (%) IN 40-50% OF TRIALS
HIT RATE (%) IN 50-60% OF TRIALS
HIT RATE (%) IN 60-70% OF TRIALS
HIT RATE (%) IN 70-80% OF TRIALS
HIT RATE (%) IN 80-90% OF TRIALS
HIT RATE (%) IN FIRST 10 TRIALS
HIT RATE (%) IN LAST 10 TRIALS
MEAN PEAK FORCE (gm) IN 0-10% OF TRIALS
MEAN PEAK FORCE (gm) IN 10-20% OF TRIALS
NUMBER OF TRIALS
STAGE
START TIME (HH:MM)
SUBJECT
